<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Guestbook Example</title>
  </head>
  <body>
    <h1>Guestbook</h1>

    <h2>Sign guestbook</h2>
    <form action="/sign" method="POST">
      <p><label>Name:<br/> <input name="name" /></label></p>
      <p><label>Message:<br/> <textarea name="message" rows="8" cols="80"></textarea></label></p>
      <button type="submit">Sign guestbook</button>
    </form>

    <hr/>

    <h2>Entries:</h2>

    % if not page:
      <small><em>There are currently no entries.</em></small>
    % end

    % for entry in page:
      <div>
        <p>{{entry.message}}</p>
        <h5>Signed by <strong>{{entry.author or 'anonymous'}}</strong> on <em>{{entry.created_at}}</em>.</h5>
        <form action="/delete/{{entry.key.int_id}}" method="POST">
          <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
        </form>
      </div>
    % end

    % if page:
      <br/><a href="/?cursor={{page.cursor}}">Next page</a>
    % end
  </body>
</html>
